{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<form action="{% url 'resetpassword' %}" method="post">
    <div class="container">
        <div class="cards">
            {% csrf_token %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
            <h3>Forgot password</h3>
            <p>Check your email for a link to reset you password</p>
             <p>Remembered your Password? <a href="{% url 'signin' %}">Login</a></p>
        </div>
    </div>
</form>
{% endblock %}