 {% extends 'base.html' %}

 {% block title %}

 {% endblock %}


 {% block content %}
<form action="" method="post">
    <div class="container">
        <div class="cards">
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
            {% csrf_token %}
            <h3>Enter OTP-code</h3>
            <input type="text" name="otp" placeholder="Enter your One Time Password" id="">
            <div class="center" style="display: flex;align-items: center; justify-content: space-between;">
                <button type="submit" class="btn btn-success">Verify</button>
        </div>
    </div>
</form>
 {% endblock %}