{% extends 'base.html' %}
{% load static %}

{% block title %}
Register
{% endblock %}

{% block content %}
<form action="" method="post">
    <div class="container">
   
        <div class="cards">
            {% if form.errors %} 
            {% for key,error in form.errors.items %}
                 <p style="color: red;">{{error}}</p>
            {% endfor %}
            {% endif %}
            <h3>Register</h3>
            {% csrf_token %}
            {{form.username.label}}
            {{form.username}}
            {{form.email.label}}
            {{form.email}}
            {{form.password1.label}}
            {{form.password1}}
            {{form.password2.label}}
            {{form.password2}}
            <button type="submit" class="btn btn-success">Sign Up</button>
            <p>Already have an account? <a href="{% url 'signin' %}">Login</a></p>
            <h4>OR</h4>
            <h6 class="btn btn-success"  style=" background-color: white;"><img style="width:50px; height: auto; padding-right: 10px;" src="{% static 'images/google.png' %}" alt=""><a style="color:rgb(119, 28, 232); text-decoration: none; " href="#">Sign in with  google</a></h6>
        </div>
    </div>
</form>
{% endblock %}