{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<form action="" method="post">
    <div class="container">
        <h1 class="mt-5">Products</h1>
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card product-card">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text"><strong>${{ product.price }}</strong></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</form>
{% endblock %}